<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>895696296899-vuh11ps7s7ssaavj6hh0igc0sv7cdfq1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.895696296899-vuh11ps7s7ssaavj6hh0igc0sv7cdfq1</string>
	<key>API_KEY</key>
	<string>AIzaSyC9ymRGO0EGAKwMPgEmDIsLSFajdf7-qhc</string>
	<key>GCM_SENDER_ID</key>
	<string>895696296899</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danielalima.FlashChat</string>
	<key>PROJECT_ID</key>
	<string>flashchat-11f44</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat-11f44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:895696296899:ios:e5bdf52189746a2962bb76</string>
</dict>
</plist>